.container {
    display: flex;
    justify-content: center;
    background-color: #F8F4EA;
  }
  
  h1, h2 {
    margin-top: 15px;
    letter-spacing: 1px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Sofia Sans', sans-serif;
    -webkit-text-stroke: 1px #0A2647;
  -webkit-text-fill-color: #579BB1;
  }
  
  h3 {
    margin-top: 25px;
    font-size: 25px;
    letter-spacing: 2px;
    color: #0A2647;
    -webkit-text-stroke: 1px #579BB1;
    font-family: 'Lobster', cursive;
  }

  p {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    color: #0A2647;
  }
  
  .btn { 
    display: inline-block;
    cursor: pointer;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: #F8F4EA;
    background-color: #579BB1;
    align-self: center;
    padding: 9px;
    font-family: 'Sofia Sans', sans-serif;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px #E1D7C6;
    }


  .btn:hover {
    background-color: #418399;
    }

.btnTwo { 
  display: flex;
  justify-content: space-evenly;
}

.delete {
    margin: 20px;
}

  button {
    background: white;
    border: none;
    font-size: 18px;
    color: #579BB1;
    background-color: #F8F4EA;
    font-family: 'Sofia Sans', sans-serif;
  }
  
  img {
    border-radius: 7px;
    box-shadow: 2px 3px 4px 3px #E1D7C6;
  }